

div{
    border: 1px solid black;
    padding: 5px;
}

/* normal */
@@media (min-width:960px) {
  .heading {
        display: flex;
        justify-content: space-around;
    }

  .container {
    display: flex;
  }
  .container.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navigation{
    display: flex;
    flex-direction: row;
  }
  .side{
    display: flex;
    flex-direction: column;
  }
  .main{
    display: flex;
    flex-direction: row;
  }
}

/* tablets */
@@media (min-width:640px) and (max-width:959px) {
  .navigation{
    display: flex;
    flex-direction: row;
  }
  .nav-box{
    width: 25%;
  }
  .main-box{
    height: 50%;
  }
  .content{

  }

}

/* celulares */
@@media (min-width:320px) and (max-width:639px) {
  .container{
    display: flex;
    flex-direction: row;
  }
  .navigation{
    display: flex;
    align-items: stretch;

  }
  .nav-box{
    width: 50%;
  }
  .main {
    display: none;
  }
  .side {
    display: none;
  }
  .main {
    display: none;
  }
  .heading {
    display: none;
  }


}
